@tailwind base;
@tailwind components;
@tailwind utilities;

@layer base {
  body {
    @apply antialiased text-neutral-900 bg-white;
  }

  .dark body {
    @apply text-neutral-100 bg-[#0a0a0a];
  }
}

:root {
  font-family: 'Inter', system-ui, Avenir, Helvetica, Arial, sans-serif;
}

/* Custom Scrollbar */
::-webkit-scrollbar {
  width: 6px;
}

::-webkit-scrollbar-track {
  background: transparent;
}

::-webkit-scrollbar-thumb {
  @apply bg-neutral-200 dark:bg-neutral-800 rounded-full;
}

::-webkit-scrollbar-thumb:hover {
  @apply bg-neutral-300 dark:bg-neutral-700;
}
